@charset "UTF-8";
@font-face {
  font-family: 'Snowy Night';
  src: url("../assets/font/Snowy_Night.ttf") format("truetype"); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  min-height: 100vh;
  font-size: 18px; }

.home-section {
  background-image: url(../assets/images/main-picture-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 94vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  .home-section .title {
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .home-section .title .title-main {
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-size: 5rem;
      color: #ff7b00;
      letter-spacing: -5px;
      line-height: 70px;
      text-align: center;
      transition-duration: 2s; }
    .home-section .title .title-sub {
      font-family: "Noto Sans", sans-serif;
      color: #ffffff;
      line-height: 35px;
      transition-duration: 3s; }
    .home-section .title .sub-1 {
      font-size: 2rem; }
    .home-section .title .sub-2 {
      font-size: 3rem;
      color: #FFCB1F;
      letter-spacing: 3px; }
    .home-section .title .sub-3 {
      font-size: 1.3rem;
      letter-spacing: 2px; }
    .home-section .title .home-section__button {
      font-family: "Roboto", sans-serif;
      text-decoration: none;
      background-color: rgba(255, 255, 255, 0.8);
      color: #ff7b00;
      border: 5px solid #ff7b00;
      border-radius: 50px;
      font-size: 1.5rem;
      font-weight: 600;
      width: 200px;
      text-align: center;
      transition: background-color 0.5s, color 0.9s, transform 2s, opacity 2s;
      transition-delay: 0s, 0s, 1s, 1s; }
    .home-section .title .home-section__button:hover {
      background-color: #ff7b00;
      color: #ffffff; }

.container-fluid {
  width: 100%;
  padding: 20px 10% 20px 10%;
  background-color: rgba(255, 203, 31, 0.7);
  margin-bottom: 40px; }

.item {
  margin-bottom: 10px;
  margin-top: 10px;
  transition: .5s ease-in-out; }
  .item .fancybox .gallery__img {
    width: 100%;
    height: 100%;
    transition-duration: 1.5s; }

.item:hover {
  filter: brightness(80%); }

.main-section__container .donations__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 20px 0 20px 0; }
  .main-section__container .donations__container .mercado-pago__info, .main-section__container .donations__container .bank__info {
    width: 100%;
    max-width: 450px;
    min-width: 300px;
    background-color: rgba(255, 203, 31, 0.7);
    border-radius: 25px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    transition-duration: 1.5s;
    transition: 1s; }
    .main-section__container .donations__container .mercado-pago__info h4, .main-section__container .donations__container .bank__info h4 {
      color: #ff7b00;
      font-size: 2rem;
      margin-bottom: 20px; }
    .main-section__container .donations__container .mercado-pago__info span, .main-section__container .donations__container .bank__info span {
      font-family: "Noto Sans", sans-serif;
      color: #000000;
      font-size: 1rem;
      margin-bottom: 10px; }
    .main-section__container .donations__container .mercado-pago__info .mercado-pago__container, .main-section__container .donations__container .bank__info .mercado-pago__container {
      display: grid;
      width: 100%;
      grid-template-columns: auto auto;
      justify-content: center;
      align-items: center; }
      .main-section__container .donations__container .mercado-pago__info .mercado-pago__container .mp__button, .main-section__container .donations__container .bank__info .mercado-pago__container .mp__button {
        font-family: "Roboto", sans-serif;
        text-decoration: none;
        background-color: #ffffff;
        color: #ff7b00;
        border: 2px solid #ff7b00;
        border-radius: 50px;
        width: 100px;
        margin: 5px;
        font-size: 1rem;
        font-weight: 600;
        text-align: center;
        transition: .4s; }
      .main-section__container .donations__container .mercado-pago__info .mercado-pago__container .mp__button:hover, .main-section__container .donations__container .bank__info .mercado-pago__container .mp__button:hover {
        background-color: #ff7b00;
        color: #ffffff; }
      .main-section__container .donations__container .mercado-pago__info .mercado-pago__container .suscription, .main-section__container .donations__container .bank__info .mercado-pago__container .suscription {
        grid-column-start: 1;
        grid-column-end: 3;
        width: 220px; }
  .main-section__container .donations__container .mercado-pago__info:hover, .main-section__container .donations__container .bank__info:hover {
    -webkit-box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.75);
    transform: scale(1.1); }

.main-section__container .nosotros-text__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto; }
  .main-section__container .nosotros-text__container .nosotros__text {
    grid-column: 1/5;
    grid-row: 2/3;
    margin-top: 2%;
    padding: 0 8px;
    margin-bottom: 20px; }
  .main-section__container .nosotros-text__container .nosotros__span {
    grid-column: 1/5;
    grid-row: 3/4;
    padding: 0 8px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-family: "Noto Sans", sans-serif;
    transition-duration: 1.5s; }
  .main-section__container .nosotros-text__container .nosotros__list {
    grid-column: 1/5;
    grid-row: 4/5;
    padding: 0 8px 0 28px;
    font-family: "Noto Sans", sans-serif;
    transition-duration: 1.5s; }
  .main-section__container .nosotros-text__container .photo-1 .nosotros__photo, .main-section__container .nosotros-text__container .photo-2 .nosotros__photo {
    max-width: 100%;
    height: auto;
    border: 8px solid #fdfdfd;
    outline: 2px solid #343a40;
    transition-duration: 1s; }

.photo-1 {
  grid-column: 1/5;
  grid-row: 1/2; }

.photo-2 {
  visibility: hidden; }

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto; }
  .grid-container p {
    grid-column: 1/4;
    grid-row: 2/3;
    text-align: center; }

.title-section {
  grid-column: 1/4; }

.form__container {
  grid-column: 1/4;
  max-width: 500px;
  margin-top: 20px;
  transition-duration: 1.5s; }

.input__container {
  position: relative;
  width: 100%;
  margin-top: 10px; }

.input__container > input,
.input__container > textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 1rem;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #ff7b00;
  outline: none;
  resize: none;
  font-family: "Noto Sans", sans-serif; }

.input__container > input:hover ~ span,
.input__container > input:valid ~ span,
.input__container > textarea:hover ~ span,
.input__container > textarea:valid ~ span {
  font-size: 0.7rem;
  transform: translateY(-20px); }

.input__container > span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 1rem;
  margin: 10px 0;
  pointer-events: none;
  color: #ff7b00;
  font-family: "Noto Sans", sans-serif;
  transition: 0.5s; }

.button__container {
  display: flex;
  justify-content: center; }

.form__button {
  width: 150px;
  background-color: #ffffff;
  color: #ff7b00;
  border: 5px solid #ff7b00;
  cursor: pointer;
  padding: 10px 0px;
  font-size: 1rem;
  outline: none;
  border-radius: 50px;
  font-weight: 700;
  transition: 0.4s; }

.clean__button {
  display: none; }

.form__button:hover {
  background-color: #ff7b00;
  color: #ffffff;
  border: 5px solid #ff7b00; }

.info__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  grid-column: 1/4; }

.info__icono {
  margin-right: 20px;
  background-color: #ff7b00;
  color: #ffffff;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  font-size: 1.3rem; }

.info {
  display: flex;
  flex-direction: column;
  color: #ff7b00;
  font-size: 1.3rem;
  font-family: "Noto Sans", sans-serif;
  width: 200px; }

.info > h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700; }

.info-1 {
  margin-top: 70px;
  transition-delay: .2s; }

.info-2 {
  transition-delay: .4s; }

.info-3 {
  margin-bottom: 50px;
  transition-delay: .6s; }

.map {
  grid-column: 1/4;
  grid-row: 7/8;
  width: 100%;
  border: none;
  margin-bottom: 20px; }

@media screen and (min-width: 768px) {
  /*--------------------- HEADER ---------------------*/
  body .navbar {
    padding-left: 10%;
    padding-right: 10%; }
    body .navbar .navbar__logo {
      width: 250px;
      height: auto; }
  /*--------------------- HOME SECTION ---------------------*/
  .home-section {
    background-image: url(../assets/images/main-picture.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 95vh; }
    .home-section .title {
      padding: 0;
      align-items: center; }
      .home-section .title .title-main {
        font-size: 7rem;
        text-align: center;
        color: #ff7b00;
        font-weight: 900;
        letter-spacing: -5px;
        line-height: 100px; }
      .home-section .title .title-sub {
        line-height: 65px; }
      .home-section .title .sub-1 {
        font-size: 3rem;
        letter-spacing: 8px; }
      .home-section .title .sub-2 {
        font-size: 6rem;
        color: #FFCB1F;
        font-weight: 800;
        letter-spacing: 2px; }
      .home-section .title .sub-3 {
        font-size: 2rem;
        letter-spacing: 7px; }
      .home-section .title .home-section__button {
        font-size: 2.5rem;
        align-self: center;
        width: 400px; }
  /*--------------------- AYUDANOS ---------------------*/
  .main-section__container .donations__container {
    margin: 50px 0 50px 0; }
    .main-section__container .donations__container .bank__info, .main-section__container .donations__container .mercado-pago__info {
      max-width: 450px; }
      .main-section__container .donations__container .bank__info h4, .main-section__container .donations__container .mercado-pago__info h4 {
        font-size: 2.5rem; }
      .main-section__container .donations__container .bank__info span, .main-section__container .donations__container .mercado-pago__info span {
        font-size: 1.5rem; }
      .main-section__container .donations__container .bank__info .mercado-pago__container .mp__button, .main-section__container .donations__container .mercado-pago__info .mercado-pago__container .mp__button {
        font-size: 1.3rem;
        width: 150px; }
      .main-section__container .donations__container .bank__info .mercado-pago__container .suscription, .main-section__container .donations__container .mercado-pago__info .mercado-pago__container .suscription {
        grid-column-start: 1;
        grid-column-end: 3;
        width: 310px; }
  /*--------------------- NOSOTROS ---------------------*/
  .photo-1 .nosotros__photo, .photo-2 .nosotros__photo {
    max-width: 80%; }
  /*--------------------- CONTACTO ---------------------*/
  .form__container {
    width: 500px;
    justify-self: center;
    margin-top: 70px; }
  .map {
    height: 200px;
    max-width: 500px;
    justify-self: center; }
  .button__container {
    justify-content: flex-end; }
  /*--------------------- FOOTER SECTION ---------------------*/ }

@media screen and (min-width: 992px) {
  /*--------------------- HEADER ---------------------*/
  body .navbar {
    padding-left: 10%;
    padding-right: 10%; }
  .navbar-light .nav-item .nav-active {
    border-bottom: 5px solid;
    border-color: #FFCB1F; }
  /*--------------------- HOME SECTION ---------------------*/
  .home-section {
    height: 90.5vh; }
    .home-section .title {
      position: absolute;
      left: 10%; }
  /*--------------------- AYUDANOS ---------------------*/
  .main-section__container .donations__container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    .main-section__container .donations__container .bank__info, .main-section__container .donations__container .mercado-pago__info {
      height: 400px;
      max-width: 450px; }
      .main-section__container .donations__container .bank__info h4, .main-section__container .donations__container .mercado-pago__info h4 {
        font-size: 2.5rem; }
      .main-section__container .donations__container .bank__info p, .main-section__container .donations__container .mercado-pago__info p {
        font-size: 1.3rem;
        line-height: 1.8rem; }
      .main-section__container .donations__container .bank__info .mercado-pago__container .mp__button, .main-section__container .donations__container .mercado-pago__info .mercado-pago__container .mp__button {
        font-size: 1.3rem;
        width: 150px; }
      .main-section__container .donations__container .bank__info .mercado-pago__container .suscription, .main-section__container .donations__container .mercado-pago__info .mercado-pago__container .suscription {
        grid-column-start: 1;
        grid-column-end: 3;
        width: 310px; }
  /*--------------------- NOSOTROS ---------------------*/
  .main-section__container .nosotros-text__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 20px; }
    .main-section__container .nosotros-text__container .nosotros__text {
      grid-column: 3/5;
      grid-row: 1/3;
      padding-top: 10%; }
    .main-section__container .nosotros-text__container .nosotros__list {
      padding-bottom: 40px; }
  .photo-1 {
    grid-column: 1/3;
    grid-row: 1/2;
    margin-top: 50px;
    transform: rotate(5deg);
    transition: all 1s ease;
    position: relative;
    z-index: 1; }
  .photo-2 {
    grid-column: 1/3;
    grid-row: 2/3;
    transform: rotate(-5deg);
    transition: all 1s ease;
    position: relative;
    bottom: 15%;
    visibility: visible; }
  .nosotros__photo {
    width: 80%;
    height: auto;
    border: 8px solid #fdfdfd;
    outline: 2px solid #343a40;
    -webkit-box-shadow: 13px 15px 5px 0px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 13px 15px 5px 0px rgba(0, 0, 0, 0.48);
    box-shadow: 13px 15px 5px 0px rgba(0, 0, 0, 0.48); }
  .photo-1:hover, .photo-2:hover {
    transform: scale(1.2);
    transition: all 1s ease;
    z-index: 300; }
  /*--------------------- CONTACTO ---------------------*/
  /*--------------------- FOOTER SECTION---------------------*/
  body .main-footer {
    height: 15vh; }
    body .main-footer .main-footer__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 80%;
      height: 100%; }
      body .main-footer .main-footer__container .main-footer__social {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        width: 150px; }
      body .main-footer .main-footer__container .main-footer__logo {
        display: block;
        width: 250px;
        height: auto; }
      body .main-footer .main-footer__container .main-footer__text {
        display: flex;
        flex-direction: column;
        width: 250px;
        font-family: "Noto Sans", sans-serif;
        color: #ffffff;
        line-height: 20px;
        font-size: 1rem; }
        body .main-footer .main-footer__container .main-footer__text span:first-child {
          font-weight: 600;
          margin-bottom: 10px; } }

@media screen and (min-width: 1200px) {
  /*--------------------- NOSOTROS ---------------------*/
  .main-section__container .nosotros-text__container {
    grid-template-rows: repeat(2, minmax(330px, auto)); }
    .main-section__container .nosotros-text__container .nosotros__span {
      grid-column: 3/5;
      grid-row: 2/3; }
    .main-section__container .nosotros-text__container .nosotros__list {
      grid-column: 3/5;
      grid-row: 2/3;
      margin-top: 8%; }
      .main-section__container .nosotros-text__container .nosotros__list li {
        margin-bottom: 15px; }
  .photo-1 {
    margin-top: 0; }
  /*--------------------- CONTACTO ---------------------*/
  .form__container {
    grid-column: 1/3;
    grid-row: 2/5;
    margin-top: 100px; }
  .info__container {
    justify-content: start; }
    .info__container .info {
      height: 100px; }
  .info-1 {
    grid-column: 3/4;
    grid-row: 2/3;
    margin: 0;
    margin-top: 100px; }
  .info-2 {
    grid-column: 3/4;
    grid-row: 3/4;
    margin: 0; }
  .info-3 {
    grid-column: 3/4;
    grid-row: 4/5;
    margin: 0; }
  .map {
    grid-column: 1/4;
    grid-row: 5/6;
    margin-top: 50px;
    max-width: 1025px;
    height: 300px; } }

/*--------------------- HEADER ---------------------*/
.navbar-custom {
  background-color: #ff7b00;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15); }

.navbar-light .nav-item .nav-link {
  color: #ffffff;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.5rem;
  transition: .4s; }

.navbar-light .nav-item .nav-active {
  color: #FFCB1F;
  height: 111%;
  border-bottom-width: 6px; }

.navbar-light .nav-item .nav-link:hover {
  color: #FFCB1F; }

.navbar {
  padding-left: 10%;
  padding-right: 10%; }

.navbar__logo {
  width: 150px;
  height: auto; }

.d-flex {
  align-items: center; }

/*--------------------- MAIN SECTION ---------------------*/
/* contenedor utilizado para centrar contenido en cada página */
.main-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 91vh; }
  .main-section .main-section__container {
    width: 80%; }
    .main-section .main-section__container .title-section {
      font-family: "Snowy Night", sans-serif;
      font-size: 3rem;
      margin-top: 40px;
      margin-bottom: 30px;
      color: #000000;
      text-align: center;
      transition-duration: 1.5s; }
    .main-section .main-section__container p {
      font-family: "Noto Sans", sans-serif;
      color: #000000;
      transition-duration: 1.5s;
      margin-bottom: 40px; }

/*--------------------- FOOTER ---------------------*/
.main-footer {
  height: 100%;
  background-color: #FFCB1F;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.main-footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%; }

.main-footer__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 150px; }

.main-footer__logo {
  display: none; }

.main-footer__text {
  display: none; }

.main-footer__link {
  color: #ffffff;
  font-size: 40px;
  transition: .4s; }

.main-footer__link:hover {
  color: #ff7b00;
  transform: scale(1.3); }

.main-footer__email {
  width: 100%;
  background-color: #FFAD1F;
  color: #000000;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  font-size: .9rem; }
  .main-footer__email a {
    color: #000000;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 600; }
