@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  min-height: 100vh;
  font-size: 18px; }

.home-section {
  background: radial-gradient(circle, #ffa733 0%, white 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.title {
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.title-main {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  color: #260C1A;
  text-align: center; }

.title-sub {
  font-family: "Noto Sans", sans-serif;
  font-size: 2rem;
  margin-top: 10px;
  color: #260C1A;
  text-align: center; }

.home-section__button {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  background-color: #FFA733;
  color: #ffffff;
  border-radius: 10px;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 4px;
  padding: 10px 10px;
  margin-top: 30px;
  width: 200px;
  text-align: center; }

.home-section__button:hover {
  background-color: #C03221;
  color: #FFA733; }

.item {
  transition: .5s ease-in-out; }

.item:hover {
  filter: brightness(80%); }

.donations__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%; }

.mercado-pago__info, .bank__info {
  width: 100%;
  height: 300px;
  background-color: grey;
  color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px; }

.nosotros-text__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto; }

.nosotros-text__container > p {
  grid-column: 1/5;
  grid-row: 2/3;
  margin-top: 2%;
  padding: 0 8px; }

.photo-1 {
  grid-column: 1/5;
  grid-row: 1/2; }

.photo-2 {
  visibility: hidden; }

.nosotros__photo {
  max-width: 100%;
  height: auto;
  border: 8px solid #fdfdfd;
  outline: 2px solid #343a40; }

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto; }

.grid-container > h2 {
  grid-column: 1/4; }

.form__container {
  grid-column: 1/4;
  width: 100%; }

.input__container {
  position: relative;
  width: 100%;
  margin-top: 10px; }

.input__container > input,
.input__container > textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 1rem;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #C03221;
  outline: none;
  resize: none;
  font-family: "Noto Sans", sans-serif; }

.input__container > input:hover ~ span,
.input__container > input:valid ~ span,
.input__container > textarea:hover ~ span,
.input__container > textarea:valid ~ span {
  font-size: 0.7rem;
  transform: translateY(-20px); }

.form__button {
  width: 100px;
  background-color: #C03221;
  color: #ffffff;
  border: none;
  cursor: pointer;
  padding: 20px 20px;
  font-size: 1rem;
  outline: none;
  border-radius: 10px;
  font-weight: 700; }

.form__button:hover {
  background-color: #FFA733;
  color: #C03221; }

.button__container {
  display: flex;
  justify-content: space-evenly; }

.input__container > span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 1rem;
  margin: 10px 0;
  pointer-events: none;
  color: #C03221;
  font-family: "Noto Sans", sans-serif;
  transition: 0.5s; }

.info__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px; }

.info__icono {
  margin-right: 15px;
  background-color: #C03221;
  color: #ffffff;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  font-size: 1.3rem; }

.info {
  display: flex;
  flex-direction: column;
  color: #C03221;
  font-size: 1.3rem;
  font-family: "Noto Sans", sans-serif; }

.info > h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700; }

.info-1 {
  grid-column: 1/4;
  margin-top: 50px; }

.info-2 {
  grid-column: 1/4; }

.info-3 {
  grid-column: 1/4;
  margin-bottom: 50px; }

@media screen and (min-width: 768px) {
  /*--------------------- HEADER ---------------------*/
  body .navbar {
    padding-left: 10%;
    padding-right: 10%; }
  /*--------------------- HOME SECTION ---------------------*/
  .home-section {
    background-image: url(../assets/images/main-picture-min.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 95vh; }
  .title {
    position: static;
    left: 10%;
    padding: 0;
    align-items: flex-start; }
  .title-main {
    font-size: 8rem;
    text-align: start; }
  .title-sub {
    font-size: 3rem;
    padding-left: 0;
    text-align: start; }
  .home-section__button {
    font-size: 3rem;
    align-self: center; }
  /*--------------------- AYUDANOS ---------------------*/
  .donations__container {
    display: flex;
    flex-direction: row; }
  .mercado-pago__info, .bank__info {
    width: 50%;
    height: 60vh; }
  /*--------------------- CONTACTO ---------------------*/
  .form__container {
    width: 500px;
    justify-self: center; }
  .info-1 {
    grid-column: 1/2;
    margin-top: 100px; }
  .info-2 {
    grid-column: 2/3;
    margin-top: 100px; }
  .info-3 {
    grid-column: 3/4;
    margin-top: 100px;
    margin-bottom: 0; }
  /*--------------------- FOOTER SECTION ---------------------*/
  .main-footer {
    height: 10vh; } }

@media screen and (min-width: 1200px) {
  /*--------------------- HEADER ---------------------*/
  body .navbar {
    padding-left: 10%;
    padding-right: 10%; }
  /*--------------------- HOME SECTION ---------------------*/
  .home-section {
    background-image: url(../assets/images/main-picture.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 95vh; }
  .title {
    position: absolute;
    left: 10%;
    padding: 0;
    align-items: flex-start; }
  .title-main {
    font-size: 8rem;
    text-align: start; }
  .title-sub {
    font-size: 3rem;
    padding-left: 0;
    text-align: start; }
  .home-section__button {
    font-size: 3rem;
    align-self: center; }
  /*--------------------- NOSOTROS ---------------------*/
  .nosotros-text__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 20px; }
  .nosotros-text__container > p {
    grid-column: 3/5;
    grid-row: 1/3;
    padding-top: 10%; }
  .photo-1 {
    grid-column: 1/3;
    grid-row: 1/2;
    transform: rotate(5deg);
    transition: all 1s ease;
    position: relative;
    z-index: 1; }
  .photo-2 {
    grid-column: 1/3;
    grid-row: 2/3;
    transform: rotate(-5deg);
    transition: all 1s ease;
    position: relative;
    bottom: 15%;
    visibility: visible; }
  .nosotros__photo {
    width: 80%;
    height: auto;
    border: 8px solid #fdfdfd;
    outline: 2px solid #343a40;
    -webkit-box-shadow: 13px 15px 5px 0px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 13px 15px 5px 0px rgba(0, 0, 0, 0.48);
    box-shadow: 13px 15px 5px 0px rgba(0, 0, 0, 0.48); }
  .photo-1:hover, .photo-2:hover {
    transform: scale(1.2);
    transition: all 1s ease;
    z-index: 300; }
  /*--------------------- CONTACTO ---------------------*/
  .form__container {
    width: 500px; }
  /*--------------------- FOOTER SECTION---------------------*/
  .main-footer {
    height: 10vh; } }

/*--------------------- HEADER ---------------------*/
.navbar-custom {
  background-color: #FFA733; }

.navbar-light .nav-item .nav-link {
  color: #ffffff;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.5rem; }

.navbar-light .nav-item .nav-active {
  color: #C03221; }

.navbar-light .nav-item .nav-link:hover {
  color: #C03221; }

.navbar {
  padding-left: 10px;
  padding-right: 10px; }

/*--------------------- MAIN SECTION ---------------------*/
/* contenedor utilizado para centrar contenido en cada página */
.main-section {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh; }

.main-section__container {
  width: 80%; }

p {
  font-family: "Noto Sans", sans-serif;
  color: #260C1A; }

.title-section {
  font-family: "Noto Sans", sans-serif;
  font-size: 2.8rem;
  margin-top: 40px;
  margin-bottom: 10px;
  color: #260C1A;
  text-align: center; }

/*--------------------- FOOTER ---------------------*/
.main-footer {
  height: 10vh;
  background-color: #C03221;
  display: flex;
  flex-direction: column; }

.main-footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px; }

.main-footer__link {
  color: #ffffff;
  margin-left: 40px;
  font-size: 40px; }

.main-footer__link:hover {
  color: #FFA733; }

.main-footer__email {
  color: #ffffff;
  align-self: flex-end;
  padding-right: 5px;
  padding-bottom: 0; }
