.main-section__container {
.donations__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 20px 0 20px 0;

    .mercado-pago__info, .bank__info {
        width: 100%;
        max-width: 450px;
        min-width: 300px;
        background-color: rgba(255, 203, 31, 0.7);
        border-radius: 25px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        transition-duration: 1.5s;
        transition: 1s;

        h4 {
            color: $primary-color;
            font-size: 2rem;
            margin-bottom: 20px;
        }

        span {
            font-family: $secondary-font;
            color: $text-color;
            font-size: 1rem;
            margin-bottom: 10px;
        }

        .mercado-pago__container {
            display: grid;
            width: 100%;
            grid-template-columns: auto auto;
            justify-content: center;
            align-items: center;

            .mp__button {
                font-family: $primary-font;
                text-decoration: none;
                background-color: $white;
                color: $primary-color;
                border: 2px solid $primary-color;
                border-radius: 50px;
                width: 100px;
                margin: 5px;
                font-size: 1rem;
                font-weight: 600;
                text-align: center;
                transition: .4s;
            }

            .mp__button:hover {
                background-color: $primary-color;
                color: $white;
            }

            .suscription {
                grid-column-start: 1;
                grid-column-end: 3;
                width: 220px;
            }
        }
    }

    .mercado-pago__info:hover, .bank__info:hover {
        -webkit-box-shadow: 0px 0px 19px 1px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 19px 1px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 19px 1px rgba(0,0,0,0.75);
        transform: scale(1.1)
    }
    }
}