.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    }

.title-section {
    grid-column: 1/4;
    }

.form__container {
    grid-column: 1/4;
    max-width: 500px;
    margin-top: 50px;
    }

.input__container {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.input__container > input,
.input__container > textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 1rem;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid $primary-color;
    outline: none;
    resize: none;
    font-family: $secondary-font;
}

.input__container > input:hover ~ span,
.input__container > input:valid ~ span,
.input__container > textarea:hover ~ span,
.input__container > textarea:valid ~ span {
    font-size: 0.7rem;
    transform: translateY(-20px);
}

.input__container > span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 1rem;
    margin: 10px 0;
    pointer-events: none;
    color: $primary-color;
    font-family: $secondary-font;
    transition: 0.5s;
}

.button__container{
    display: flex;
    justify-content:space-evenly;
}

.form__button {
    width: 150px;
    background-color: $white;
    color: $primary-color;
    border: 5px solid $primary-color;
    cursor: pointer;
    padding: 10px 0px;
    font-size: 1rem;
    outline: none;
    border-radius: 50px;
    font-weight: 700;
    transition: 0.4s;
}

.form__button:hover {
    background-color: $primary-color;
    color: $white;
    border: 5px solid $primary-color;

}

.info__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    grid-column: 1/4;
}

.info__icono{
    margin-right: 20px;
    background-color: $primary-color;
    color: $white;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 1.3rem;
            
}

.info {
    display: flex;
    flex-direction: column;
    color: $primary-color;
    font-size: 1.3rem;
    font-family: $secondary-font;
    width: 200px;
}
.info > h3 {
    font-family: $primary-font;
    font-weight: 700;
}

.info-1 {
    margin-top: 50px;
}
.info-3 {
    margin-bottom: 50px;
}

.map {
    grid-column: 1/4;
    grid-row: 6/7;
    width: 100%;
    border: none;
    margin-bottom: 20px;
    }