$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Noto Sans', sans-serif;

$primary-color: #FF7B00;
$secondary-color: #FFCB1F;
$tertiary-color: #FFAD1F;
$title-color: #ffffff;
$text-color: #000000;
$white: #ffffff;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    font-size: 18px;
}